<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<ons-toolbar>
    <div class="center">Nova Localização</div>
</ons-toolbar>
<div class="content">

    <leaflet-map  [callback]="onClickMap">
    </leaflet-map>
    <div>
        <ons-input placeholder="Nome da nova localização" [(value)]="name" (input)="name = $event.target.value"></ons-input>
    </div>
    <div>
        <ons-input placeholder="Descrição" [(value)]="description" (input)="description = $event.target.value"></ons-input>
    </div>
    <label class="text-muted">Tipo de Local</label>
    <div class="row">
        <div class="form-group col-sm-6">
            <select [(ngModel)]="markerType" class="form-control">
                <option *ngFor="let loc of locationtypes" [ngValue]="loc">
                    {{loc.name}}
                </option>
            </select>
        </div>
    </div>
    <div>
        <ons-button modifier="large" (click)="createLocation()">
            Salvar
        </ons-button>
    </div>

</div>
