<ons-toolbar>
    <div class="center">Nova Localização</div>
</ons-toolbar>
<div class="content">
    <leaflet-map [zoom]="28" [callback]="onClickMap">
        <leaflet-marker [lat]="lat" [lng]="lng"></leaflet-marker>
    </leaflet-map>
    <div style="padding: 10px">
        <ons-input placeholder="Nome da nova localização"></ons-input>
    </div>
    <div style="padding: 10px">
        <ons-input placeholder="Descrição"></ons-input>
    </div>
</div>
<div>
    <ons-fab (click)="push()" position="right bottom" >
        <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>
</div>