<ons-toolbar>
    <div class="center">Nova Localização</div>
</ons-toolbar>
<div class="content">

    <leaflet-map [zoom]="28" [callback]="onClickMap">
        <leaflet-marker [lat]="lat" [lng]="lng"></leaflet-marker>
    </leaflet-map>
    <div style="padding: 10px">
        <ons-input placeholder="Nome da nova localização" [(value)]="name" (input)="name = $event.target.value"></ons-input>
    </div>
    <div style="padding: 10px">
        <ons-input placeholder="Descrição" [(value)]="description" (input)="description = $event.target.value"></ons-input>
    </div>
    {{latitude}}
    {{longitude}}
</div>
<div>
    <ons-fab (click)="createLocation()" position="right bottom" >
        <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>
</div>