<ons-toolbar>
    <div class="center">Login</div>
</ons-toolbar>
<div class="content">

    <div class="forms">
        <div>
            <ons-input modifier="underbar" placeholder="Username" [(value)]="username" (input)="username = $event.target.value"></ons-input>
        </div>
        <div>
            <ons-input modifier="underbar" type="password" placeholder="Password" [(value)]="password" (input)="password = $event.target.value"></ons-input>
        </div>
        <div>
            <ons-button (click)="login()" modifier="large">Login</ons-button>
        </div>
    </div>
</div>